/* app css stylesheet */
body {
  font-family: 'Roboto Condensed', sans-serif;
}

.ml5 {
  margin-left: 5px;
}

.mr5 {
  margin-right: 5px;
}

ul {
  list-style-type: none;
}

.thumbnail-node {
  margin: 10px;
}

.thumbnail-item {
  padding: 5px;
  height: 50px;
  width: 500px;
  background-color: #cccccc;
  border: 1px solid #555555;
  border-radius: 4px;
}

.thumbnail {
  height: 50px;
  width: 50px;
  border-radius: 4px;
}

.pointer {
  cursor: pointer;
}

.arrow-down {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
